<html>

<head>
    <title>welcome to {{ title }}</title>
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/css/style.css" > 
</head>

<body>

<div id="myDIV" class="header">
    <h1>{{ title }}</h1>
  </div>
  <a href="/logout"> Logout</a>
   <form action="index" method="post">
 
  First Name : <input type="text" name="fn" value="" placeholder=""> <br>
  Last Name : <input type="text" name="ln" value="" placeholder=""> <br>
  Email: <input type="text" name="un" value="" placeholder=""> <br>
 
   <input type="submit" name="" value="Add" placeholder=""> <br>
</form>
</body>

</html>